@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --datepicker-width: 292px;
  --task-modal-padding: 16px;

  --error-color: #ff0033;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #181818;
  color: #fff;
  overflow: visible;
}

/* Scrollbar */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 4px;
  height: 4px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ccc;
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

input,
textarea,
button {
  border: none;
  outline: none;
  resize: none;
  background: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  font-size: 1.4rem;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border: 4px solid #27ae60;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Context menu */
.contexify {
  padding: 10px 0 !important;
  border-radius: 4px !important;

  .contexify_item {
    &:hover {
      .contexify_itemContent {
        background-color: transparent !important;
        border-radius: 0 !important;
      }
    }

    .contexify_itemContent {
      gap: 12px;
      padding: 6px 16px !important;
      font-size: 14px;
      color: rgba(249, 249, 249, 0.75);
      transition: all 0.3s ease;

      i {
        font-size: 16px !important;
      }

      &::before,
      &::after {
        transition: all 0.3s ease;
      }

      &::before {
        content: "";
        width: 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(249, 249, 249, 0.03);
      }

      &::after {
        content: "";
        width: 4px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
      }

      &:hover {
        &::before {
          width: 100%;
        }

        &::after {
          background-color: #27ae60;
        }
      }
    }
  }

  .contexify_separator {
    margin: 10px 0;
  }
}
